.jumbotron {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;

  background: #1cb0f6;
  /* transparência */
  opacity: 0.85;

  border-radius: 5px;
}

#verificar {
  background-color: rgb(21, 9, 75);
}

#frase {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
